.footer {
  padding: 200px 0;
}
.socials {
  width: 50%;
}
.socials-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: $accentColor;
  @include transition;
  &:focus,
  &:hover {
    background: $focusColor;
  }
}
.footer-menu a {
  color: $primaryTextColor;
  @include transition;
  &:focus,
  &:hover {
    color: $focusColor;
  }
}
