.pizza {
  position: relative;
  padding: 100px 0 650px;
  background: url(../../../images/bg.jpg);
  background-size: cover;
  color: $lightTextColor;
  text-align: center;
}
.pizza-text {
  margin: 75px auto 0;
  font-size: 21px;
  &:after {
    content: '';
    display: block;
    width: 165px;
    height: 10px;
    border-radius: 2px;
    background-color: white;
    margin: 40px auto 0;
  }
}

// .leavesImg {
//   position: absolute;
//   bottom: 20%;
//   left: 0;
// }
// .pizzaImg {
//   position: absolute;
//   top: 3%;
//   left: 0;
// }
.pizza-img {
  position: absolute;
  top: -10%;
  left: 0;
}
