.reviews {
  padding: 160px 0 180px;
}
.reviews-text {
  font-size: 19px;
  margin-top: 40px;
}
.reviews-sum {
  margin: 230px 0 60px;
  font-size: 25px;
}
.reviews-author {
  font-size: 21px;
  font-weight: bold;
}
